/* --------------------------- */
/* Custom Variables and Globals*/
/* --------------------------- */

:root {
  /* Colors */
  --black: hsl(80, 10%, 12%);
  --green: hsl(168, 44%, 49%);
  --red: hsl(1, 80%, 64%);
  --purple: hsl(276, 10%, 80%);
  --dark-grey: hsl(230, 8%, 28%);
  --light-grey: hsl(33, 5%, 92%);
  --light-grey-lowOp: hsla(33, 5%, 92%, 0.5);

  --white: hsl(350, 2%, 98%);
}

/* --------------- */
/* FONTS */
/* --------------- */

h1 {
  font-family: "Lato", sans-serif;
  font-size: clamp(2.5rem, 3vw, 3rem);

}
h2, h3 {
  font-family: "Lato", sans-serif;
  font-size: clamp(2rem, 3vw, 2.5rem);
}
/*Sizes for tabs and buttons */
h4, button {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(1.4rem, 10vw, 1.8rem);
  font-weight: 600;
}

/* paragraphs, links, lists */
p {
  font-size: clamp(1rem, 10vw, 1.5rem);
  line-height: 1.3;
  font-family: "Open Sans", sans-serif;

  min-width: 20ch;
  max-width: 95ch;
}
li, a {
  list-style-type: none;
  color: var(--light-grey);
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}


i {
  padding-right: 15px;
  font-size: 20px;
}

/* *************** */
/* Card Grid Layout */
/* **************** */

.recipe-grid {
  margin: 0 10vw;

  /* layout */ 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-template-areas:
  "header header header";
  grid-gap: 2rem;

  justify-items: center;
  align-items: center;

}

/* ------------- */
/* Cards Layout */
/* ------------- */

.card-wrapper {
  margin: 2rem;
  padding: 0;

  max-width: 25rem;

  border-radius: 25px;
  box-shadow: 2px 3px 10px 0.2px var(--dark-grey);
}

.card-wrapper:hover {
  cursor: pointer;
  opacity: 0.6;
}
.card-front-top > #card-flip-1, .card-front-top > #card-flip-2, .card-front-top > #card-flip-3 {
  display: none;
}

/* TODO */
/*Create a clickable flip card using the list icon in the corner. This will reveal an ingredients list. Make the rest of the icon a link to show the whole recipe*/

/* CARD COMPONENTS */

.card-front-top {
  margin: 0;
  border-radius: 25px 25px 0px 0px;
  min-height: 14rem;

  display: flex;
  justify-content: flex-end;
}

#card-one {
  background: url("../assets/images/stove-pots.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
}
#card-two {
background: url("../assets/images/red-meat.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
}
#card-three {
background: url("../assets/images/chicken-soup.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
}

.card-content {
  padding: 1rem 2rem;
  align-self: flex-start;
  background-color: var(--light-grey);
}

.card-footer {
  background-color: var(--red);
  border-radius: 0px 0px 25px 25px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#ingredients-1 {
  margin: 0 40px 0 0;
  font-size: 4rem;

  background-color: var(--light-grey-lowOp);

  border-top: 0;
  border-radius: 0 0 5px 5px;
  box-shadow: 2px 2px 5px 0.1px var(--dark-grey);
}
#ingredients-2 {
  margin: 0 40px 0 0;
  font-size: 4rem;

  background-color: var(--light-grey-lowOp);

  border-top: 0;
  border-radius: 0 0 5px 5px;
  box-shadow: 2px 2px 5px 0.1px var(--dark-grey);
}
#ingredients-3 {
  margin: 0 40px 0 0;
  font-size: 4rem;

  background-color: var(--light-grey-lowOp);

  border-top: 0;
  border-radius: 0 0 5px 5px;
  box-shadow: 2px 2px 5px 0.1px var(--dark-grey);
}


/* ------------- */
/* Checkbox Flip */
/* ------------- */



/* ------------------------------------- */




/****************/
/*Main Sections*/
/***************/

/* -- BODY -- */ 

body {
  margin: 0;
  box-sizing: border-box;
  background-color: var(--white);
}

/* -- HEAER -- */

header {
  /*Add an image after working on image editing*/
  background-color: var(--red);

min-height: 20rem;

margin-bottom: 4rem;
padding: 2rem 0 4rem 0;
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
}
header > h1 {
  max-width: 80vw;
  
  text-align: center;
  font-variant: small-caps;
  font-weight: 700;
}

/* -- MAIN -- */
main {
  margin: auto;
  width: 100vw;
}

/* -- FOOTER -- */
footer {
  background-color: var(--black);
  color: var(--light-grey);

  margin-top: 4rem;
  min-height: 15rem;
  max-height: 20rem;

  display: flex;
  align-items: flex-end;
  justify-content: center;
}

/* *********** */
/* NAVIGATION */
/* ********** */

.top-bar {
  background-color: var(--black);
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  overflow: hidden;
}

.nav-wrapper {
 display: block;
 position: relative;

 top: 10px;
 z-index: 1;
}

.nav-links {
  /*TODO remove this colouring after making sure it all works*/
  min-width: 6rem;
  min-height: 12rem;
  padding: 1rem;

  display: none;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;

}

/* Show navigation */
.nav-wrapper input:checked ~ * ~ .nav-links {
  display: flex;
}

/* Links */
.nav-links li,a {
  color: var(--white);
  font-weight: 500;
  font-size: 24px;
  padding: 10px;
  text-align: right;
  list-style-type: none;
}

/* Nav Hover*/
.nav-links a:hover {
  animation-name: nav-hover;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes nav-hover {
  100% {
    background-color: var(--red);
    color: var(--white);
    opacity: 0.7;
  }
}

/* --------- */
/* Hamburger */
/* --------- */

.nav-wrapper span {
  background-color: var(--light-grey);
  border-radius: 4px;
  margin-bottom: 6px;

  width: 4rem;
  height: 8px;

  top: 2rem;
  right: 2.2rem;
  position: relative;

  display: block;
  z-index: 1;

  /*Transition*/
transition: transform 0.2s cubic-bezier(0.5, 0.2, 0.075, 1), opacity 50ms ease;
}


/* Checkbox */
.nav-wrapper input {
  width: 4rem;
  height: 4rem;
  
  position: absolute;
  top: 1.5rem;
  left: -2.2rem;
  cursor: pointer;
  opacity: 0;
  z-index: 2;

}

/* Hamburger to X animation */
.nav-wrapper input:checked ~ span {
  transform: rotate(45deg) translate(14px, 16px);
  opacity: 0.8;
}

/*Rotate last bar */
.nav-wrapper input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(-4px, 4px);
  opacity: 0.8;
}

/* Hide Middle Bar */
.nav-wrapper input:checked ~ span:nth-child(3) {
  display: none;
}

/*Hover highlight*/
.nav-wrapper input:hover ~ span {
  opacity: 0.7;
}

/* Desktop Layout */

@media screen and (min-width: 50rem) {
  .nav-wrapper > span {
    display: none;
  }
  .nav-wrapper > input {
    display: none;
  }
  .nav-wrapper {
    display: flex;
    align-items: center;
  }
  .nav-links {
    display: flex;
    flex-direction: row;

  }
  .nav-links a {
    font-size: 32px;
  }
  .topbar {
    display: flex;
    flex-direction: row;
  }
}


/* ---------------------------------- */

/*---------*/
/*Site Logo*/
/*---------*/

.site-logo {
  color: var(--white);
  margin: 2rem;
  padding: 5px;

  align-self: center;


  display:grid;
  grid-gap: 10px;
  grid-template-columns: max-content max-content;
  grid-template-rows: repeat(3, 1rem);
  grid-template-areas:
  "two  one"
  "two  three"
  "five four";

  align-items: center;
}

/* Layout of Items */
.site-logo > :nth-child(1) {
  grid-area: two;
}
.site-logo > :nth-child(2) {
  grid-area: one;
  justify-self: end;
}
.site-logo > :nth-child(3) {
  grid-area: three;
  justify-self: end;
}
.site-logo > :nth-child(4) {
  grid-area: four;
  justify-self:end;
}

/* Style of items */
.block {
  grid-area: five;
  height: 5px;
  width: 100%;
  background-color: var(--white);
  align-self: center;
  justify-self: center;
}

.icon {
  width: 40px;
  max-height: 40px;
  object-fit: cover;
  justify-self: flex-start;
}

/* Logo Interaction */
.site-logo:hover {
  /*Logo animation*/
  animation-name: logo-animate;
  animation-duration: 700ms;
  animation-fill-mode: forwards;
}

@keyframes logo-animate {
  100% {
    opacity: 0.7;
  }
}

/* Registration Button */
.hero-button {
  background-color: var(--light-grey);
  color: var(--black);
  
  border: none;
  border-radius: 10px;
  padding: 10px 2rem;

}

.hero-button:hover {
  animation-name: button-hover;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes button-hover {
  100% {
    background-color: var(--green);
  }
}
